
This is MoodleBox version {{ moodlebox_version }}, {{ moodlebox_release_date }}.

MoodleBox is made by Nicolas Martignoni, https://github.com/martignoni/.
Spicy MoodleBox is a port of same by Dhuny Riyad for Ubuntu ARM-64.
Please read the documentation at https://moodlebox.net/.

